
  /*  2 Hero */
  .hero {
    background-color: #050505;
    background-size: cover;
    color: #fff;
    font-size: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: 10px 2fr 10px;
    grid-template-rows: .5fr 0.25fr 1fr 20px;
    grid-gap: 20px;
   }

   .hero img {
    margin: auto;
    padding-top: 1rem;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    max-width: 200px;
  }
  
  .hero h1 {
    margin: 0;
    padding: 0px 0px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: 4rem;
  }

  .hero article {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
  
  .hero button {
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
    color: #000000;
    font-size: 1rem;
    padding: 5px 10px;
    margin: .75rem auto 0;
    cursor: pointer; /* Change cursor to pointer on hover */
  }

  .hero button:hover {
    color: gray;
  }


/* 3 Objects */

.object_zero {
  background-color:  rgb(89, 89, 89);
  background-size: cover;
  color: #fff;
  font-size: 20px;
  text-align: center;
  display: grid;
  grid-template-columns: 10px 2fr 10px;
  grid-template-rows: .5fr 1fr 1fr 20px;
  grid-gap: 2px;
  align-self: center; 
}

.object_zero h1 {
  margin: auto;
  padding-top: 3.5rem;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  text-decoration: underline;
}

.object_zero .first {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.object_zero .second {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.object_one {
  background-color: #050505;
  background-size: cover;
    color: #fff;
    font-size: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: 10px 2fr 10px;
    grid-template-rows: .5fr 1fr 1fr 20px;
    grid-gap: 2px;
    align-self: center;
  }

  .object_one h1 {
    margin: auto;
    padding-top: 1rem;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-decoration: underline;
  }
  
  .object_one p {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .object_one iframe {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    padding: 5px 10px;
    margin: .25rem auto 0;
    }


/* Media Queries */
@media screen and (min-width: 700px) {

    /* Hero Media Queries */
    .hero {
        row-gap: 0;
        background-size: cover;
        text-align: left;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: .5fr .1fr .5fr .5fr .25fr;
        align-items: center;
      }

      .hero h1 {
        margin-bottom: 0rem;
        grid-column: 3/5;
        grid-row: 2 /3;
        text-align:center;
      }
    
      .hero img {
        margin: 0 0 0 auto;
        grid-row: 2 / 4;
        grid-column: 2 / 3;
      }
    
      .hero article {
       margin-top: 0.1rem;
       max-width: 1000px;
       grid-column: 3 / 5;
       grid-row: 3/3;
       text-align: center;
      }



    /* Object Media Queries */
    
    .object_zero { 
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: #050505;
      min-height: 200px;
      display: grid;
      grid-template-columns: .25fr 1fr 1fr 1fr .25fr;;
      grid-template-rows: repeat(2, 1fr); ;
      align-items: center;
    }
    
    .object_zero h1 {
      font-size: 2.5rem;
      margin-top: 0.1rem;
      grid-row: 1 / 2;
      grid-column: 2 / 3;
    }

    .object_zero .first {
      border-left: solid 1px #fff;
      padding-left: 1rem;
      text-align: left;
      grid-row: 1 / 2;
      grid-column: 3 / 5;
    }

    .object_zero .second {
      padding-left: 1rem;
      text-align: left;
      grid-row: 2 / 3;
      grid-column: 2 / 5;
      margin-left: 5%;
    }

    .object_one {
      padding-top: 50px;
      padding-bottom: 100px;
      background-color: #050505;
      min-height: 200px;
      display: grid;
      grid-template-columns: .25fr 1fr 1fr 1fr .25fr;;
      grid-template-rows: repeat(3, 1fr); ;
      align-items: center;
    }
    
    .object_one h1 {
      font-size: 2.5rem;
      margin-top: 0.1rem;
      grid-row: 1 / 2;
      grid-column: 2 / 3;
      width: 100%;
      white-space: wrap;
      text-decoration: underline;
    }

    .object_one p {
      border-left: solid 1px #fff;
      padding-left: 1rem;
      text-align: left;
      grid-row: 1 / 2;
      grid-column: 3 / 5;
    }

    .object_one iframe {
      width: 100%;
      height: 100%;
      grid-row: 2 / 4;
      grid-column: 2 / 5;
    }
  }

    @media screen and (min-width: 1300px) {
      
      .object_one h1 {
        white-space: nowrap;
      }

      .object_one {
        grid-template-rows: 1fr .25fr repeat(6, 1fr);
      }

      .object_one iframe {
        grid-row: 3 / 9;
      }
    }


